# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Mac OS directory files
.DS_Store

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Local logs
*.log